<ion-header>
  <ion-toolbar color="primary">
    <ion-title>List of Names</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-list-header no-padding lines="full">
        {{ names?.length ? 'Select a row to view or edit Object details (not implemented)': 'No Object data to
        display' }}
      </ion-list-header>
    </ion-item>
    <ion-item *ngFor="let name of names">
      <ion-item>
        <ion-label>{{name | commaObject}}
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>